.composition {
    position: relative;
    
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        //outline-offset es la separacion de la linea verde de la imagen
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 0;
            top: 2rem;
        }
        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            //outline hace la linea verde alrededor de las imagenes
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        //Este selector: cuando el padre activa el hover, todos los hijos menos el que tiene el hover se reducen
        transform: scale(.95);
    }

}